body {
    background-color: beige
}
#menu  h1{
    background-color:pink;
    color: white;
    Font-size: 30px;
}

#menu p {

 color: palevioletred;
}

.cardapio {
    font-size: 20px;
    color: palevioletred;

}

.galeria {
 
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}